{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Edit Schema' | trans }}{% endblock %}

{% block manager_content %}

{# 
    @todo: Ask Vadim for serviceAddBox
#}
<fieldset class="left box serviceAddBox" style="width:100%">
    <legend>Schema</legend>
    <form action="{{ path("mapbender_schemaeditor_schema_update") }}" method="post">

        <label for="schemaeditor_description" class="left labelInput">Description:</label>
        <div class="inputWrapper">
            <input type="text" class="input validationInput" required="required" name="schemaeditor[description]" id="schemaeditor_description" value="{% if description is defined and description is not null %}{{ description }}{% endif %}" />
        </div>
        <div class="clearContainer"></div>
        
        <label for="schemaeditor_yml" class="left labelInput">YAML:</label>
        <div class="inputWrapper">
            <textarea class="input code-yaml" style="height:100px;" name="schemaeditor[yml]" id="schemaeditor_yml">{% if yml is defined and yml is not null %}{{ yml }}{% endif %}</textarea>
        </div>

        <div class="clearContainer"></div>

        <input type="hidden" name="schemaeditor[id]" id="schemaeditor_id" value="{% if id is defined and id is not null %}{{ id }}{% endif %}" />
        <div class="clearContainer"></div>
        <div class="clearContainer"></div>
        <br/>
        <div class="right">
            <input class="button" type="submit" name="save" value="Save" />
            <a href="{{ path("mapbender_schemaeditor_schema_index") }}" class="button critical">Cancel</a>
        </div>
    </form>
</fieldset>
<link rel="stylesheet" href="{{ asset('bundles/mapbendermanager/codemirror2/lib/codemirror.css') }}">

<div class="clearContainer"></div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/mapbendermanager/codemirror2/lib/codemirror.js') }}"></script>
    <script src="{{ asset('bundles/mapbendermanager/codemirror2/mode/yaml/yaml.js') }}"></script>
    <script src="{{ asset('bundles/mapbendermanager/js/form-yaml.js') }}"></script>
{% endblock %}